.about-us {
  @include mobile-padding;
}

.about-us__title {
  @include main-h2;
}

.about-us__list {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $font-black;
  @include list-reset;
}
