.button {
  display: block;
  border: solid 2px $base-grey;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  color: $base-grey;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  padding: 15px;
  cursor: pointer;

  &:hover {
    color: $font-white;
    background-color: $base-grey;
  }

  &:active {
    color: rgba($font-white, 0.3);
    background-color: $base-grey;
  }
}
