.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: $font-black;
  margin-right: 30px;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
    justify-content: flex-end;
  }
}
