.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__link {
  display: flex;

  &:hover path,
  &:focus path {
    fill: $base-green-2;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  font-size: 19px;
  line-height: 34.09px;
  font-weight: bold;
  color: $font-black;
  margin-right: 30px;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
    justify-content: flex-end;
  }

  .copyright__link svg {
    position: relative;
    top: 3px;
  }
}
