.goods-types-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1150px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.goods-types-list__button {
  display: block;
  position: relative;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  padding: 27px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 90%;

  &--interior {
    background-color: $base-green;

    &::after {
      content: url("../img/icon-interior.svg");
      position: absolute;
      top: 22px;
      right: 36px;
      opacity: 0.5;
    }

    &:hover {
      background-color: #59d5bc;
      border-bottom: 5px solid #59d5bc;
      margin-top: -5px;

      &::after {
        opacity: 0.7;
      }
    }

    &:focus {
      background-color: #59d5bc;
      color: rgba(255, 255, 255, 0.3);

      &::after {
        opacity: 0.3;
      }
    }
  }

  &--toys {
    background-color: #56c3b2;

    &::after {
      content: url("../img/icon-toy.svg");
      position: absolute;
      top: 22px;
      right: 27px;
      opacity: 0.5;
    }

    &:hover {
      background-color: $base-green-2;
      border-bottom: 5px solid $base-green-2;
      margin-top: -5px;

      &::after {
        opacity: 0.7;
      }
    }

    &:focus {
      background-color: $base-green-2;
      color: rgba(255, 255, 255, 0.3);

      &::after {
        opacity: 0.3;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .goods-types-list {
    flex-direction: row;
  }

  .goods-types-list__item {
    width: 50%;
  }

  .goods-types-list__button {
    font-size: 20px;
    line-height: 30px;
    padding-left: 35px;

    &--interior {
      margin-left: 50px;

      &::after {
        top: 30px;
      }
    }

    &--toys {
      margin-right: 50px;

      &::after {
        top: 32px;
        right: 34px;
      }
    }
  }
}
