.knitting__wrapper {
  @include wrapper;
}

.knitting__fieldset-wrapper {
  @include wrapper;
}

.knitting__title {
  @include main-h1;
  background-color: $base-grey-2;
  padding-top: 69px;
  padding-bottom: 76px;
  margin: 0;
  margin-bottom: 24px;

  &::after {
    @include zigzag-pseudo;
  }
}

.knitting__description {
  font-size: 13px;
  text-align: left;
  margin: 0;
  margin-bottom: 22px;
}

.knitting__order fieldset {
  border: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.knitting__order ul {
  @include list-reset;
  padding-left: 63px;
}

.knitting__order .knitting__fullname-inputs {
  padding: 0;
  margin-top: -7px;
}

.knitting__type-option {
  line-height: 18px;
  margin-bottom: 23px;
}

.knitting__color-option {
  margin-bottom: 36px;
}

.knitting__type {
  margin-bottom: 20px;
}

.knitting__color {
  margin-bottom: 2px;
}

.knitting__legend {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $base-green;
  position: relative;
  display: inline-block;
  width: 100%;

  &::before {
    @include pseudo-icon;
    height: 1px;
    width: 100%;
    background-color: $base-green;
    top: 10px;
    right: 0;
    z-index: -1;
  }
}

.knitting__legend span {
  display: inline-block;
  background-color: white;
  width: 62px;
}

.knitting__email span {
  width: 81px;
}

.knitting__type legend,
.knitting__color legend,
.knitting__fullname legend {
  margin-bottom: 34px;
}

.knitting__phone legend,
.knitting__email legend {
  margin-bottom: 11px;
}

.knitting__additional legend {
  margin-bottom: 27px;
}

.knitting__order label {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
}

.knitting__color label,
.knitting__type label {
  cursor: pointer;
  user-select: none;
  position: relative;
}

.knitting__order input::placeholder,
.knitting__order textarea::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
}

.knitting__phone input::placeholder {
  font-size: 19px;
}

.knitting__order input[type="text"],
.knitting__order input[type="tel"],
.knitting__order input[type="email"] {
  padding-top: 13px;
  padding-bottom: 17px;
  border: none;
  border-bottom: 2px solid black;
  box-sizing: border-box;

  &:hover,
  &:focus {
    border-color: $form-green;
  }
}

.knitting__additional textarea {
  resize: none;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 14px;
  height: 142px;
  margin-bottom: 10px;

  &:hover,
  &:focus {
    border-color: $form-green;
  }
}

.knitting__fullname-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;
}

.knitting__phone,
.knitting__email {
  margin-top: 11px;
  margin-bottom: 31px;
}

.knitting__email input,
.knitting__phone input,
.knitting__additional textarea {
  width: 100%;
  background-color: transparent;
}

.knitting__submit {
  width: 100%;
  margin-bottom: 54px;
  margin-top: 27px;
}

.knitting__note {
  font-size: 14px;
  line-height: 16px;
}

.knitting__type-input + label {

  &::before {
    @include pseudo-icon;
    width: 40px;
    height: 40px;
    border: 2px solid $base-grey;
    box-sizing: border-box;
    border-radius: 50%;
    left: -63px;
    top: -6px;
  }

  &::after {
    @include pseudo-icon;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $form-green;
    left: -51px;
    top: 6px;
    display: none;
  }
}

.knitting__type-input:checked + label::after {
  display: block;
}

.knitting__type-input:hover + label::before,
.knitting__color-input:hover + label::before {
  border-color: $form-green;
}

.knitting__type-input:active + label::before,
.knitting__color-input:active + label::before {
  border-color: $base-grey;
  opacity: 0.3;
}

.knitting__color-input + label {

  &::before {
    @include pseudo-icon;
    width: 40px;
    height: 40px;
    border: 2px solid $base-grey;
    box-sizing: border-box;
    left: -63px;
    top: -9px;
  }

  &::after {
    @include pseudo-icon;
    width: 40px;
    height: 40px;
    left: -63px;
    top: -9px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 66%;
    display: none;
  }
}

.knitting__color-input:checked + label::after {
  display: block;
}

@media (min-width: $tablet-width) {
  .knitting__title {
    padding-top: 93px;
    padding-bottom: 81px;
    position: relative;
    margin-bottom: 73px;
  }

  .knitting__fieldset-wrapper:nth-child(even) {
    background-color: $base-grey-2;
  }

  .knitting__description {
    font-size: 17px;
    line-height: 30px;
  }

  .knitting__order label {
    font-size: 19px;
  }

  .knitting__legend {

    &::before {
      display: none;
    }
  }

  .knitting__legend span {
    background-color: transparent;
  }

  .knitting__order input::placeholder,
  .knitting__order textarea::placeholder {
    font-size: 19px;
  }

  .knitting__note {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .knitting__title {
    padding-bottom: 104px;
  }

  .knitting__fieldset-wrapper {
    max-width: 100%;
  }

  .knitting__order fieldset {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }
}
