.knitting__wrapper {
  @include wrapper;
  position: relative;
}

.knitting__fieldset-wrapper {
  @include wrapper;

  &--communication {
    padding-top: 11px;
  }
}

.knitting__title {
  @include main-h1;
  background-color: $base-grey-2;
  padding-top: 69px;
  padding-bottom: 76px;
  margin: 0;
  margin-bottom: 24px;

  &::after {
    @include zigzag-pseudo;
  }
}

.knitting__description {
  font-size: 13px;
  text-align: left;
  margin: 0;
  margin-bottom: 19px;
}

.knitting__order fieldset {
  border: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.knitting__order ul {
  @include list-reset;
  padding-left: 63px;
}

.knitting__order .knitting__fullname-inputs {
  padding: 0;
  margin-top: -7px;
}

.knitting__type-option {
  line-height: 18px;
  margin-bottom: 23px;
}

.knitting__color-option {
  margin-bottom: 36px;
}

.knitting__type-wrapper {
  padding-bottom: 16px;
}

.knitting__color {
  padding-bottom: 2px;
}

.knitting__legend {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $base-green;
  position: relative;
  display: inline-block;
  width: 100%;

  &::before {
    @include pseudo-icon;
    height: 1px;
    width: 100%;
    background-color: $base-green;
    top: 10px;
    right: 0;
    z-index: -1;
  }

  &--type,
  &--color,
  &--fullname {
    margin-bottom: 37px;
  }

  &--phone,
  &--email {
    margin-bottom: 11px;
  }

  &--additional {
    margin-bottom: 27px;
  }
}

.knitting__legend span {
  display: inline-block;
  background-color: white;
  width: 62px;
}

.knitting__email span {
  width: 81px;
}

.knitting__order label {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
}

.knitting__color label,
.knitting__type label {
  cursor: pointer;
  user-select: none;
  position: relative;
}

.knitting__order input::placeholder,
.knitting__order textarea::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
}

.knitting__phone input::placeholder {
  font-size: 19px;
}

.knitting__order input[type="text"],
.knitting__order input[type="tel"],
.knitting__order input[type="email"] {
  padding-top: 13px;
  padding-bottom: 17px;
  border: none;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  font-size: 19px;
  line-height: 18px;

  &:hover,
  &:focus {
    border-color: $form-green;
  }
}

.knitting__textarea {
  resize: none;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 14px;
  height: 142px;
  margin-bottom: 10px;
  font-size: 19px;
  line-height: 18px;

  &:hover,
  &:focus {
    border-color: $form-green;
  }
}

.knitting__fullname-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.knitting__phone,
.knitting__email {
  margin-bottom: 29px;
}

.knitting__phone-wrapper,
.knitting__email-wrapper {
  position: relative;
}

.knitting__input-email,
.knitting__input-phone,
.knitting__textarea {
  width: 100%;
  background-color: transparent;
}

.knitting__submit {
  width: 100%;
  margin-bottom: 54px;
  margin-top: 27px;
}

.knitting__note {
  font-size: 14px;
  line-height: 16px;
}

.knitting__type-input + label {
  &::before {
    @include pseudo-icon;
    width: 40px;
    height: 40px;
    border: 2px solid $base-grey;
    box-sizing: border-box;
    border-radius: 50%;
    left: -63px;
    top: -6px;
  }

  &::after {
    @include pseudo-icon;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $form-green;
    left: -51px;
    top: 6px;
    display: none;
  }
}

.knitting__type-input:checked + label::after {
  display: block;
}

.knitting__type-input:hover + label::before,
.knitting__color-input:hover + label::before {
  border-color: $form-green;
}

.knitting__type-input:active + label::before,
.knitting__color-input:active + label::before {
  border-color: $base-grey;
  opacity: 0.3;
}

.knitting__color-input + label {
  &::before {
    @include pseudo-icon;
    width: 40px;
    height: 40px;
    border: 2px solid $base-grey;
    box-sizing: border-box;
    left: -63px;
    top: -9px;
  }

  &::after {
    @include pseudo-icon;
    width: 40px;
    height: 40px;
    left: -63px;
    top: -9px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 66%;
    display: none;
  }
}

.knitting__color-input:checked + label::after {
  display: block;
}

.knitting__input-icon {
  position: absolute;
  fill: #000000;
  opacity: 0.2;

  &--phone {
    top: 8px;
    right: 8px;
  }

  &--email {
    top: 9px;
    right: 4px;
  }
}

.knitting__input-email:hover + .knitting__input-icon--email,
.knitting__input-phone:hover + .knitting__input-icon--phone,
.knitting__input-email:focus + .knitting__input-icon--email,
.knitting__input-phone:focus + .knitting__input-icon--phone {
  opacity: 1;
  fill: $form-green;
}

@media (min-width: $tablet-width) {
  .knitting__title {
    padding-top: 93px;
    padding-bottom: 81px;
    position: relative;
    margin-bottom: 73px;
  }

  .knitting__fieldset-wrapper {
    position: relative;
  }

  .knitting__fieldset-wrapper:nth-child(even) {
    background-color: $base-grey-2;
  }

  .knitting__description {
    font-size: 17px;
    line-height: 30px;
  }

  .knitting__legend,
  .knitting span {
    width: auto;
  }

  .knitting__order ul {
    padding-left: 25%;
    margin-left: 80px;
  }

  .knitting__type {
    margin-bottom: 11px;
  }

  .knitting__type-wrapper {
    padding-top: 54px;
    padding-bottom: 0;
    display: flex;
  }

  .knitting__color-wrapper {
    padding-top: 63px;
    padding-bottom: 13px;
    display: flex;
  }

  .knitting__fullname-wrapper {
    padding-top: 67px;
    padding-bottom: 39px;
    display: flex;
  }

  .knitting__phone-wrapper,
  .knitting__email-wrapper {
    display: flex;
    align-items: center;
    padding-left: 25%;
  }

  .knitting__order .knitting__fullname-inputs {
    width: 100%;
    margin-top: -29px;
    padding-left: 25%;
    margin-left: 0;
  }

  .knitting__fullname-input {
    padding-top: 10px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 11px;
  }

  .knitting__fullname-inputs input[type="text"] {
    flex-grow: 1;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 17px;
  }

  .knitting__fullname-inputs label {
    padding-right: 24px;
  }

  .knitting__color-options {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .knitting__color-option {
    width: 38%;
    margin-bottom: 51px;
  }

  .knitting__type-option {
    margin-bottom: 56px;
  }

  .knitting__order label {
    font-size: 19px;
  }

  .knitting__legend span {
    width: 75px;
    background-color: transparent;
  }

  .knitting__legend {
    position: absolute;

    &::before {
      display: none;
    }

    &--type {
      top: 55px;
    }

    &--color {
      top: 67px;
    }

    &--fullname {
      top: 67px;
    }

    &--phone,
    &--email {
      top: 14px;
    }

    &--additional {
      top: 66px;
    }
  }

  .knitting__type-input + label {
    &::before {
      width: 52px;
      height: 52px;
      left: -80px;
      top: -12px;
    }

    &::after {
      width: 22px;
      height: 22px;
      left: -65px;
      top: 3px;
    }
  }

  .knitting__color-input + label::before,
  .knitting__color-input + label::after {
    width: 52px;
    height: 52px;
    left: -77px;
    top: -12px;
  }

  .knitting__fieldset-wrapper--communication {
    padding-top: 52px;
    padding-bottom: 24px;
  }

  .knitting__email,
  .knitting__phone {
    position: relative;
    margin-top: 0;
    margin-bottom: 26px;
  }

  .knitting__input-email,
  .knitting__input-phone {
    padding-left: 17px;
    padding-right: 17px;
  }

  .knitting__input-icon {
    &--phone {
      top: 8px;
      right: 26px;
    }

    &--email {
      top: 9px;
      right: 22px;
    }
  }

  .knitting__order input::placeholder,
  .knitting__order textarea::placeholder {
    font-size: 19px;
  }

  .knitting__additional-wrapper {
    display: flex;
    padding-top: 50px;
    padding-left: 25%;
  }

  .knitting__note {
    font-size: 17px;
    line-height: 30px;
    position: absolute;
    right: 50px;
    top: 9px;
  }

  .knitting__submit {
    width: 230px;
    margin-top: 42px;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .knitting__title {
    padding-bottom: 104px;
    margin-bottom: 120px;
  }

  .knitting__description {
    padding-left: 175px;
    padding-right: 175px;
  }

  .knitting__legend {
    &--type {
      left: 64px;
    }

    &--color {
      left: 60px;
    }

    &--fullname {
      left: 61px;
    }

    &--phone,
    &--email {
      left: 61px;
    }

    &--additional {
      left: 62px;
    }
  }

  .knitting__order fieldset {
    position: relative;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }

  .knitting__order ul {
    padding-left: 173px;
  }

  .knitting__color-options {
    justify-content: flex-start;
  }

  .knitting__color-option {
    width: 264px;
  }

  .knitting__order .knitting__fullname-inputs {
    width: 698px;
    padding-left: 177px;
  }

  .knitting__phone-wrapper,
  .knitting__email-wrapper {
    padding-left: 175px;
  }

  .knitting__input-phone,
  .knitting__input-email {
    width: 700px;
  }

  .knitting__input-icon {
    &--phone {
      right: 183px;
    }

    &--email {
      right: 179px;
    }
  }

  .knitting__additional-wrapper {
    padding-left: 175px;
  }

  .knitting__textarea {
    width: 700px;
    margin-bottom: 6px;
  }

  .knitting__submit {
    margin-left: 175px;
    margin-bottom: 49px;
  }

  .knitting__note {
    right: 223px;
  }

  .knitting__fieldset-wrapper {
    max-width: 100%;
  }
}
