.page-header__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 75px;
  padding-top: 3px;
}

.page-header__delivery-info {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .page-header__logo {
    @include block-shadow-top;
    @include block-shadow-bottom;
  }
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    @include wrapper;
    display: flex;
    position: relative;
    z-index: 2;
  }

  .page-header__logo {
    height: 79px;
    justify-content: flex-start;
    box-shadow: none;
    padding-top: 9px;
  }

  .page-header__delivery-info {
    display: inline;
    position: absolute;
    right: 51px;
    top: 106px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    position: absolute;
    width: auto;
    left: 50%;
    margin-left: -75px;
  }
}
