.page-footer {
  display: flex;
  position: relative;
  height: 160px;
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 18px;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  padding-top: 21px;
  border-top: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    height: 143px;
    padding-bottom: 0;

    &::after {
      display: none;
    }
  }

  .page-footer__wrapper {
    flex-direction: row;
    align-items: baseline;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .page-footer__logo {
    display: flex;
    align-items: center;
    width: 200px;
  }

  .page-footer__logo-link {
    display: flex;

    &[href="index.html"]:hover path {
      fill: $base-green-2;
    }

    &[href="index.html"]:active {
      opacity: 0.3;
    }
  }

  .page-footer__social {
    margin-left: auto;
    margin-right: auto;
  }

  .page-footer__copyright {
    position: relative;
    width: 200px;
    top: -5px;
    border: none;
    padding: 0;
  }
}
