.page-header__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;

  @include block-shadow;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    @include wrapper;
    display: flex;
  }

  .page-header__logo {
    height: 90px;
    justify-content: flex-start;
    box-shadow: none;
  }
}
