.page-header {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
  @include block-shadow;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
  }

  .page-header__logo {
    height: 90px;
    justify-content: flex-start;
    padding-left: 50px;
    box-shadow: 0 1px 0 0 #ececec;
  }
}
