.site-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.site-list__item {
  @include block-shadow;
}

.site-list__link {
  display: block;
  padding: 28px;
  padding-left: 75px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $font-black;
  background-color: $base-background;
}

.site-list__search {
  height: 48px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 65px;
  border: none;
  background-color: $base-background;

  &::placeholder {
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    color: $font-black;
    opacity: 1;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}
