.social {
  display: flex;
  justify-content: center;
}

.social__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin-left: 20px;
  margin-right: 20px;
}

.social__link {
  display: flex;

  &:hover path {
    fill: $base-green-2;
  }

  &:active {
    opacity: 0.3;
  }
}
