.top-of-the-week {
  @include zigzag-line;
  display: flex;
  flex-direction: column;
  padding-top: 29px;
  padding-bottom: 40px;
}

.top-of-the-week__wrapper {
  @include wrapper;
  position: relative;
}

.top-of-the-week__item-card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 21px;
  min-height: 412px;
}

.top-of-the-week__title {
  @include main-h2;
  position: relative;
  align-self: flex-start;
  width: 100%;
  margin: 0;
  margin-bottom: 3px;
}

.top-of-the-week__item-top {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  color: $base-green;
}

.top-of-the-week__properties {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 25px;
}

.top-of-the-week__properties th,
.top-of-the-week__properties td {
  padding-top: 8px;
  padding-bottom: 8px;
}

.top-of-the-week__properties td {
  padding-left: 15px;
}

.top-of-the-week__property-title {
  font-weight: normal;
  text-align: left;
}

.top-of-the-week__description {
  margin-top: 0;
  margin-bottom: 16px;
}

.top-of-the-week__property {
  border-bottom: 1px solid $shadow;
}

.top-of-the-week__picture {
  width: 100%;
  height: 100%;
}

.top-of-the-week__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $base-grey;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 26px;
}

@media (min-width: $tablet-width) {
  .top-of-the-week {
    padding-top: 50px;
    min-height: 500px;
    padding-bottom: 68px;
  }

  .top-of-the-week__item-top {
    display: block;
    position: absolute;
    line-height: 17px;
    text-align: center;
    width: 70px;
    padding: 0;
    right: 79px;
    top: 11px;
  }

  .top-of-the-week__item-card {
    padding-right: 376px;
    padding-top: 46px;
  }

  .top-of-the-week__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 34px;
  }

  .top-of-the-week__properties td {
    padding-left: 0;
  }

  .top-of-the-week__picture {
    position: absolute;
    right: 0;
    top: 54px;
    width: auto;
    height: auto;
  }

  .top-of-the-week__price {
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
  }

  .top-of-the-week__button {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .top-of-the-week {
    padding-top: 128px;
    padding-bottom: 95px;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }

  .top-of-the-week__wrapper {
    width: 700px;
  }

  .top-of-the-week__item-top {
    left: -78px;
    top: 15px;
  }

  .top-of-the-week__item-card {
    width: 292px;
    padding-right: 409px;
  }

  .top-of-the-week__description {
    margin-bottom: 47px;
  }

  .top-of-the-week__price {
    margin-top: 83px;
    margin-bottom: 34px;
  }

  .top-of-the-week__picture {
    right: -175px;
    top: -112px;
    z-index: -1;
  }
}
