.top-of-the-week {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.top-of-the-week__wrapper {
  @include wrapper;
  position: relative;
}

.top-of-the-week__item-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.top-of-the-week__title {
  @include main-h2;
  position: relative;
  align-self: flex-start;
  width: 100%;
  margin: 0;
}

.top-of-the-week__item-top {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  color: $base-green;
  padding-top: 8px;
}

.top-of-the-week__property-title {
  font-weight: normal;
  text-align: left;
}

.top-of-the-week__description {
  margin-top: 0;
  margin-bottom: 50px;
}

.top-of-the-week__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $base-grey;
  align-self: center;
}

@media (min-width: $tablet-width) {
  .top-of-the-week {
    padding-top: 55px;
    min-height: 500px;
  }

  .top-of-the-week__item-top {
    display: block;
    position: absolute;
    line-height: 17px;
    text-align: center;
    width: 70px;
    padding: 0;
    right: 80px;
    top: 14px;
  }

  .top-of-the-week__item-card {
    padding-right: 400px;
  }

  .top-of-the-week__picture {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (min-width: $desktop-width) {
  .top-of-the-week {
    padding-top: 70px;
  }
}
