$base-font: "OpenSans", "Arial", sans-serif;
$base-grey: #444444;
$base-green: #63d1bb;
$font-black: rgb(0, 0, 0);
$font-white: rgb(255, 255, 255);
$background: #ededed;
$base-background: #ffffff;
$picture-background: #f9f9f9;
$shadow: #ececec;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
